# Visual Studio
*.code-workspace
.vscode
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vs/
.vscode-test/**
.vscode-test
**/.vscode/.ropeproject/**
obj/
SDC.io/obj/*
**/obj/**
bin/
SDC.io/bin/*
packages/
*.pt
*.json
*.txt
*.png
# output folder:
output/