@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--
        Index page
-->
<article class="container" id="IndexArticle">
    <img id="logo_img" src="~/images/SDC.io.logo.png" class="center_alignment" />
    <br />

    <div class="center_alignment" style="width: 320px;">
        <button ng-click="move('IndexArticle', 'ModelSelectArticle')">Analyze</button>
        <button>Create Model</button>
    </div>
</article>

<!--
        Model Select page
-->
<article class="container" id="ModelSelectArticle" style="display:none;">
    <select class="form-control input_field center_alignment" id="ModelSelect" ng-change="DisplayModelData()" ng-model="DisplayIndex">
        <option></option>
        @foreach (String str in Model.ModelList)
        {
            <option>@str</option>
        }
    </select>
    <br />

    <table id="ModelDataDisplay">
        <tr ng-repeat="param in ModelParams">
            <th class="input_field">{{param.Name}}: </th>
            <td ng-bind={{param.ngModel}} class="input_field"></td>
        </tr>
        <tr>
            <th style="font-weight: normal;">
                <button ng-click="move('ModelSelectArticle', 'IndexArticle')">Back</button>
            </th>
            <td>
                <button ng-click="move('ModelSelectArticle', 'IndexArticle')">Next</button>
            </td>
        </tr>
    </table>
</article>